String-Based Assignment Problems

In [ ]:
# 1. Write a program to reverse a string.

def reverse_string(s):
    return s[::-1]
print(reverse_string("hello"))

olleh

In [ ]:
# 2. Check if a string is a palindrome.

def is_palindrome(s):
    return s == s[::-1]
print(is_palindrome("racecar"))
print(is_palindrome("hello"))

True
False

In [ ]:
# 3. Convert a string to uppercase.

def to_uppercase(s):
    return s.upper()
print(to_uppercase("hello"))

HELLO

In [ ]:
# 4. Convert a string to lowercase.

def to_lowercase(s):
    return s.lower()
print(to_lowercase("HELLO"))

hello

In [ ]:
# 5. Count the number of vowels in a string.

def count_vowels(s):
    vowels = "aeiouAEIOU"
    return sum(1 for char in s if char in vowels)
print(count_vowels("hello"))

2

In [ ]:
# 6. Count the number of consonants in a string.

def count_consonants(s):
    vowels = "aeiouAEIOU"
    return sum(1 for char in s if char.isalpha() and char not in vowels)
print(count_consonants("hello"))

3

In [ ]:
# 7. Remove all whitespaces from a string.

def remove_whitespaces(s):
    return s.replace(" ", "")
print(remove_whitespaces("hello world"))

helloworld

In [ ]:
# 8. Find the length of a string without using the len() function.

def string_length(s):
    count = 0
    for _ in s:
        count += 1
    return count
print(string_length("hello"))

5

In [ ]:
# 9. Check if a string contains a specific word.

def contains_word(s, word):
    return word in s
print(contains_word("hello world", "world"))
print(contains_word("hello world", "python"))

True
False

In [ ]:
# 10. Replace a word in a string with another word.

def replace_word(s, old_word, new_word):
    return s.replace(old_word, new_word)
print(replace_word("hello world", "world", "python"))

In [ ]:
# 11. Count the occurrences of a word in a string.

def count_word_occurrences(s, word):
    return s.split().count(word)
print(count_word_occurrences("hello world hello", "hello"))

2

In [ ]:
# 12. Find the first occurrence of a word in a string.

def find_first_occurrence(s, word):
    return s.find(word)
print(find_first_occurrence("hello world", "world"))
print(find_first_occurrence("hello world", "python"))

6
-1

In [ ]:
# 13. Find the last occurrence of a word in a string.

def find_last_occurrence(s, word):
    return s.rfind(word)
print(find_last_occurrence("hello world hello", "hello"))
print(find_last_occurrence("hello world", "python"))

12
-1

In [ ]:
# 14. Split a string into a list of words.

def split_into_words(s):
    return s.split()
print(split_into_words("hello world"))

['hello', 'world']

In [ ]:
# 15. Join a list of words into a string.

def join_words(words):
    return " ".join(words)
print(join_words(["hello", "world"]))

hello world

In [ ]:
# 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

def convert_spaces_to_underscores(s):
    return s.replace(" ", "_")
print(convert_spaces_to_underscores("hello world"))

hello_world

In [ ]:
# 17. Check if a string starts with a specific word or phrase.

def starts_with(s, prefix):
    return s.startswith(prefix)
print(starts_with("hello world", "hello"))
print(starts_with("hello world", "world"))

True
False

In [ ]:
# 18. Check if a string ends with a specific word or phrase.

def ends_with(s, suffix):
    return s.endswith(suffix)
print(ends_with("hello world", "world"))
print(ends_with("hello world", "hello"))

True
False

In [ ]:
# 19. Convert a string to title case (e.g., "hello world" to "Hello World").

def to_title_case(s):
    return s.title()
print(to_title_case("hello world"))

Hello World

In [ ]:
# 20. Find the longest word in a string.

def longest_word(s):
    words = s.split()
    return max(words, key=len)
print(longest_word("hello wonderful world"))

wonderful

In [ ]:
# 21. Find the shortest word in a string.

def shortest_word(s):
    words = s.split()
    return min(words, key=len)

# Example usage
print(shortest_word("hello wonderful world"))

hello

In [ ]:
# 22. Reverse the order of words in a string.

def reverse_words_order(s):
    words = s.split()
    return " ".join(reversed(words))
print(reverse_words_order("hello world"))

world hello

In [ ]:
# 23. Check if a string is alphanumeric.

def is_alphanumeric(s):
    return s.isalnum()
print(is_alphanumeric("hello123"))
print(is_alphanumeric("hello 123"))

True
False

In [ ]:
# 24. Extract all digits from a string.

def extract_digits(s):
    return "".join(filter(str.isdigit, s))
print(extract_digits("hello123world456"))

123456

In [ ]:
# 25. Extract all alphabets from a string.

def extract_alphabets(s):
    return "".join(filter(str.isalpha, s))
print(extract_alphabets("hello123world456"))

helloworld

In [ ]:
# 26. Count the number of uppercase letters in a string.

def count_uppercase(s):
    return sum(1 for char in s if char.isupper())
print(count_uppercase("Hello World"))

2

In [ ]:
# 27. Count the number of lowercase letters in a string.

def count_lowercase(s):
    return sum(1 for char in s if char.islower())
print(count_lowercase("Hello World"))

8

In [ ]:
# 28. Swap the case of each character in a string.

def swap_case(s):
    return s.swapcase()
print(swap_case("Hello World"))

In [ ]:
# 29. Remove a specific word from a string.

def remove_word(s, word_to_remove):
    return s.replace(word_to_remove, "")
print(remove_word("hello world", "world"))

hello

In [ ]:
# 30. Check if a string is a valid email address.

import re

def is_valid_email(s):
    pattern = r"^[\w\.-]+@[\w\.-]+\.\w+$"
    return bool(re.match(pattern, s))
print(is_valid_email("test@example.com"))
print(is_valid_email("test@com"))

True
False

In [ ]:
# 31. Extract the username from an email address string.

def extract_username(email):
    return email.split('@')[0]
print(extract_username("test@example.com"))

test

In [ ]:
# 32. Extract the domain name from an email address string.

def extract_domain(email):
    return email.split('@')[1]
print(extract_domain("test@example.com"))

example.com

In [ ]:
# 33. Replace multiple spaces in a string with a single space.

def replace_multiple_spaces(s):
    return " ".join(s.split())
print(replace_multiple_spaces("hello    world"))

hello world

In [ ]:
# 34. Check if a string is a valid URL.

import re

def is_valid_url(s):
    pattern = r"^(http|https)://[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)+([/?].*)?$"
    return bool(re.match(pattern, s))
print(is_valid_url("https://example.com"))
print(is_valid_url("invalid_url"))

True
False

In [ ]:
# 35. Extract the protocol (http or https) from a URL string.

def extract_protocol(url):
    return url.split("://")[0]
print(extract_protocol("https://example.com"))
print(extract_protocol("http://example.com"))

https
http

In [ ]:
# 36. Find the frequency of each character in a string.

from collections import Counter

def character_frequency(s):
    return dict(Counter(s))
print(character_frequency("hello world"))

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [ ]:
# 37. Remove all punctuation from a string.

import string

def remove_punctuation(s):
    return s.translate(str.maketrans("", "", string.punctuation))
print(remove_punctuation("hello, world!"))

hello world

In [ ]:
# 38. Check if a string contains only digits.

def contains_only_digits(s):
    return s.isdigit()
print(contains_only_digits("12345"))
print(contains_only_digits("123a5"))

True
False

In [ ]:
# 39. Check if a string contains only alphabets.

def contains_only_alphabets(s):
    return s.isalpha()
print(contains_only_alphabets("hello"))
print(contains_only_alphabets("hello123"))

True
False

In [ ]:
# 40. Convert a string to a list of characters.

def string_to_list_of_characters(s):
    return list(s)
print(string_to_list_of_characters("hello"))

['h', 'e', 'l', 'l', 'o']

In [ ]:
# 41. Check if two strings are anagrams.

def are_anagrams(s1, s2):
    return sorted(s1) == sorted(s2)
print(are_anagrams("listen", "silent"))
print(are_anagrams("hello", "world"))

True
False

In [ ]:
# 42. Encode a string using a Caesar cipher.

def caesar_cipher_encode(s, shift):
    result = ""
    for char in s:
        if char.isalpha():
            shift_base = 65 if char.isupper() else 97
            result += chr((ord(char) - shift_base + shift) % 26 + shift_base)
        else:
            result += char
    return result

print(caesar_cipher_encode("hello", 3))

khoor

In [ ]:
# 43. Decode a Caesar cipher encoded string.

def caesar_cipher_decode(s, shift):
    return caesar_cipher_encode(s, -shift)
print(caesar_cipher_decode("khoor", 3))

hello

In [ ]:
# 44. Find the most frequent word in a string.

from collections import Counter

def most_frequent_word(s):
    words = s.split()
    word_counts = Counter(words)
    most_common_word, _ = word_counts.most_common(1)[0]
    return most_common_word
print(most_frequent_word("hello world hello"))

hello

In [ ]:
# 45. Find all unique words in a string.

def unique_words(s):
    words = s.split()
    return set(words)
print(unique_words("hello world hello"))

{'world', 'hello'}

In [ ]:
# 46. Count the number of syllables in a string.

import re

def count_syllables(s):
    words = s.split()
    syllable_count = 0
    for word in words:
        syllables = re.findall(r'[aeiouyAEIOUY]+', word)
        syllable_count += len(syllables)
    return syllable_count
print(count_syllables("hello world"))

3

In [ ]:
# 47. Check if a string contains any special characters.

import re

def contains_special_characters(s):
    pattern = r"[^a-zA-Z0-9\s]"
    return bool(re.search(pattern, s))

print(contains_special_characters("hello@world"))
print(contains_special_characters("hello world"))

True
False

In [ ]:
# 48. Remove the nth word from a string.

def remove_nth_word(s, n):
    words = s.split()
    if 0 <= n < len(words):
        del words[n]
    return " ".join(words)

print(remove_nth_word("hello wonderful world", 1))
print(remove_nth_word("hello world", 2))

hello world
hello world

In [ ]:
# 49. Insert a word at the nth position in a string.

def insert_word_at_nth_position(s, word, n):
    words = s.split()
    if 0 <= n <= len(words):
        words.insert(n, word)
    return " ".join(words)

print(insert_word_at_nth_position("hello world", "wonderful", 1))
print(insert_word_at_nth_position("hello world", "amazing", 0))

hello wonderful world
amazing hello world

In [ ]:
# 50. Convert a CSV string to a list of lists.

def csv_to_list_of_lists(csv_string):
    lines = csv_string.strip().split("\n")
    return [line.split(",") for line in lines]

csv_data = "name,age,city\nJohn,25,New York\nJane,30,Los Angeles"
print(csv_to_list_of_lists(csv_data))

[['name', 'age', 'city'], ['John', '25', 'New York'], ['Jane', '30', 'Los Angeles']]

List Based Practice Problem

In [ ]:
# 1. Create a list with integers from 1 to 10.

my_list = list(range(1, 11))
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 2. Find the length of a list without using the `len()` function.

def list_length(lst):
    count = 0
    for _ in lst:
        count += 1
    return count
my_list = [1, 2, 3, 4, 5]
print(list_length(my_list))

5

In [ ]:
# 3. Append an element to the end of a list.

my_list = [1, 2, 3, 4, 5]
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
# 4. Insert an element at a specific index in a list.

my_list = [1, 2, 4, 5]
my_list.insert(2, 3)  # Insert 3 at index 2
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
# 5. Remove an element from a list by its value.

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)  # Remove element with value 3
print(my_list)

[1, 2, 4, 5]

In [ ]:
# 6. Remove an element from a list by its index.

my_list = [1, 2, 3, 4, 5]
del my_list[2]  # Remove element at index 2
print(my_list)

[1, 2, 4, 5]

In [ ]:
# 7. Check if an element exists in a list.

my_list = [1, 2, 3, 4, 5]
element = 3
if element in my_list:
    print(f"{element} exists in the list.")
else:
    print(f"{element} does not exist in the list.")

3 exists in the list.

In [ ]:
# 8. Find the index of the first occurrence of an element in a list.

my_list = [10, 20, 30, 20, 40]
element = 20
index = my_list.index(element)
print("Index of the first occurrence:", index)

Index of the first occurrence: 1

In [ ]:
# 9. Count the occurrences of an element in a list.

my_list = [10, 20, 30, 20, 40, 20]
element = 20
count = my_list.count(element)
print("Number of occurrences:", count)

Number of occurrences: 3

In [ ]:
# 10. Reverse the order of elements in a list.

# Using reverse() method
my_list = [10, 20, 30, 40]
my_list.reverse()
print("Reversed list:", my_list)

# Using slicing
my_list = [10, 20, 30, 40]
reversed_list = my_list[::-1]
print("Reversed list:", reversed_list)

Reversed list: [40, 30, 20, 10]
Reversed list: [40, 30, 20, 10]

In [ ]:
# 11. Sort a list in ascending order.

my_list = [30, 10, 20, 40]
my_list.sort()
print("Sorted list in ascending order:", my_list)

# Or using sorted()
sorted_list = sorted(my_list)
print("Sorted list in ascending order:", sorted_list)

Sorted list in ascending order: [10, 20, 30, 40]
Sorted list in ascending order: [10, 20, 30, 40]

In [ ]:
# 12. Sort a list in descending order.

my_list = [30, 10, 20, 40]
my_list.sort(reverse=True)
print("Sorted list in descending order:", my_list)

# Or using sorted()
sorted_list = sorted(my_list, reverse=True)
print("Sorted list in descending order:", sorted_list)

Sorted list in descending order: [40, 30, 20, 10]
Sorted list in descending order: [40, 30, 20, 10]

In [ ]:
# 13. Create a list of even numbers from 1 to 20.

even_numbers = [x for x in range(1, 21) if x % 2 == 0]
print("List of even numbers from 1 to 20:", even_numbers)

List of even numbers from 1 to 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# 14. Create a list of odd numbers from 1 to 20.

odd_numbers = [x for x in range(1, 21) if x % 2 != 0]
print("List of odd numbers from 1 to 20:", odd_numbers)

List of odd numbers from 1 to 20: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# 15. Find the sum of all elements in a list.

my_list = [10, 20, 30, 40]
total_sum = sum(my_list)
print("Sum of all elements in the list:", total_sum)

Sum of all elements in the list: 100

In [ ]:
# 16. Find the maximum value in a list.

my_list = [10, 20, 30, 40]
max_value = max(my_list)
print("Maximum value in the list:", max_value)

Maximum value in the list: 40

In [ ]:
# 17. Find the minimum value in a list.

my_list = [10, 20, 30, 40]
min_value = min(my_list)
print("Minimum value in the list:", min_value)

Minimum value in the list: 10

In [ ]:
# 18. Create a list of squares of numbers from 1 to 10.

squares = [x**2 for x in range(1, 11)]
print("List of squares from 1 to 10:", squares)

List of squares from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# 19. Create a list of random numbers.

import random
random_numbers = [random.randint(1, 100) for _ in range(10)]
print("List of random numbers:", random_numbers)

List of random numbers: [5, 46, 97, 63, 65, 84, 10, 12, 79, 52]

In [ ]:
# 20. Remove duplicates from a list.

my_list = [10, 20, 30, 20, 40, 10]
unique_list = list(set(my_list))
print("List after removing duplicates:", unique_list)

List after removing duplicates: [40, 10, 20, 30]

In [ ]:
# 21. Find the common elements between two lists.

list1 = [10, 20, 30, 40]
list2 = [30, 40, 50, 60]
common_elements = list(set(list1) & set(list2))
print("Common elements between two lists:", common_elements)

Common elements between two lists: [40, 30]

In [ ]:
# 22. Find the difference between two lists.

list1 = [10, 20, 30, 40]
list2 = [30, 40, 50, 60]
difference = list(set(list1) - set(list2))
print("Difference between two lists:", difference)

Difference between two lists: [10, 20]

In [ ]:
# 23. Merge two lists.

list1 = [10, 20, 30]
list2 = [40, 50, 60]
merged_list = list1 + list2
print("Merged list:", merged_list)

Merged list: [10, 20, 30, 40, 50, 60]

In [ ]:
# 24. Multiply all elements in a list by 2.

my_list = [10, 20, 30, 40]
multiplied_list = [x * 2 for x in my_list]
print("List after multiplying all elements by 2:", multiplied_list)

List after multiplying all elements by 2: [20, 40, 60, 80]

In [ ]:
# 25. Filter out all even numbers from a list.

my_list = [10, 15, 20, 25, 30, 35]
filtered_list = [x for x in my_list if x % 2 != 0]
print("List after filtering out even numbers:", filtered_list)

List after filtering out even numbers: [15, 25, 35]

In [ ]:
# 26. Convert a list of strings to a list of integers.

str_list = ["1", "2", "3", "4"]
int_list = [int(x) for x in str_list]
print("List of integers:", int_list)

List of integers: [1, 2, 3, 4]

In [ ]:
# 27. Convert a list of integers to a list of strings.

int_list = [1, 2, 3, 4]
str_list = [str(x) for x in int_list]
print("List of strings:", str_list)

List of strings: ['1', '2', '3', '4']

In [ ]:
# 28. Flatten a nested list.

nested_list = [[1, 2], [3, 4], [5, 6]]
flattened_list = [item for sublist in nested_list for item in sublist]
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6]

In [ ]:
# 29. Create a list of the first 10 Fibonacci numbers

fibonacci = [0, 1]
for _ in range(8):  # We already have 2 numbers, so loop for 8 more
    fibonacci.append(fibonacci[-1] + fibonacci[-2])
print("First 10 Fibonacci numbers:", fibonacci)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
# 30. Check if a list is sorted.

my_list = [10, 20, 30, 40]
is_sorted = my_list == sorted(my_list)
print("Is the list sorted?", is_sorted)

Is the list sorted? True

In [ ]:
# 31. Rotate a list to the left by n positions.

my_list = [1, 2, 3, 4, 5]
n = 2
rotated_list = my_list[n:] + my_list[:n]
print("List rotated to the left by 2 positions:", rotated_list)

List rotated to the left by 2 positions: [3, 4, 5, 1, 2]

In [ ]:
# 32. Rotate a list to the right by n positions.

my_list = [1, 2, 3, 4, 5]
n = 2
rotated_list = my_list[-n:] + my_list[:-n]
print("List rotated to the right by 2 positions:", rotated_list)

List rotated to the right by 2 positions: [4, 5, 1, 2, 3]

In [ ]:
# 33. Create a list of prime numbers up to 50.

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = [x for x in range(2, 51) if is_prime(x)]
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
# 34. Split a list into chunks of size n.

my_list = [1, 2, 3, 4, 5, 6, 7, 8]
n = 3
chunks = [my_list[i:i + n] for i in range(0, len(my_list), n)]
print("List split into chunks of size 3:", chunks)

List split into chunks of size 3: [[1, 2, 3], [4, 5, 6], [7, 8]]

In [ ]:
# 35. Find the second largest number in a list

my_list = [10, 20, 4, 45, 99]
unique_sorted_list = sorted(set(my_list))
second_largest = unique_sorted_list[-2]
print("Second largest number:", second_largest)

Second largest number: 45

In [ ]:
# 36. Replace every element in a list with its square.

my_list = [1, 2, 3, 4]
squared_list = [x**2 for x in my_list]
print("List with each element squared:", squared_list)

List with each element squared: [1, 4, 9, 16]

In [ ]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.

my_list = ['a', 'b', 'c']
index_dict = {element: index for index, element in enumerate(my_list)}
print("Dictionary with elements as keys and indices as values:", index_dict)

Dictionary with elements as keys and indices as values: {'a': 0, 'b': 1, 'c': 2}

In [ ]:
# 38. Shuffle the elements of a list randomly

import random
my_list = [1, 2, 3, 4, 5]
random.shuffle(my_list)
print("Shuffled list:", my_list)

Shuffled list: [4, 2, 3, 5, 1]

In [ ]:
# 39. Create a list of the first 10 factorial numbers

import math
factorial_list = [math.factorial(i) for i in range(1, 11)]
print("First 10 factorial numbers:", factorial_list)

First 10 factorial numbers: [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [ ]:
# 40. Check if two lists have at least one element in common.

list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
common_elements = set(list1) & set(list2)
has_common = len(common_elements) > 0
print("Do the lists have at least one element in common?", has_common)

Do the lists have at least one element in common? True

In [ ]:
# 41. Remove all elements from a list.

my_list = [1, 2, 3, 4]
my_list.clear()
print("List after removing all elements:", my_list)

# Or
my_list = [1, 2, 3, 4]
my_list = []
print("List after removing all elements:", my_list)

List after removing all elements: []
List after removing all elements: []

In [ ]:
# 42. Replace negative numbers in a list with 0.

my_list = [10, -5, 20, -3, 30]
replaced_list = [x if x >= 0 else 0 for x in my_list]
print("List after replacing negative numbers with 0:", replaced_list)

List after replacing negative numbers with 0: [10, 0, 20, 0, 30]

In [ ]:
# 43. Convert a string into a list of words.

my_string = "This is a sample string"
words_list = my_string.split()
print("List of words:", words_list)

List of words: ['This', 'is', 'a', 'sample', 'string']

In [ ]:
# 44. Convert a list of words into a string.

words_list = ["This", "is", "a", "sample", "string"]
my_string = " ".join(words_list)
print("String:", my_string)

String: This is a sample string

In [ ]:
# 45. Create a list of the first n powers of 2

n = 10
powers_of_2 = [2**i for i in range(n)]
print("First 10 powers of 2:", powers_of_2)

First 10 powers of 2: [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [ ]:
# 46. Find the longest string in a list of strings.

strings = ["apple", "banana", "cherry", "date"]
longest_string = max(strings, key=len)
print("Longest string in the list:", longest_string)

Longest string in the list: banana

In [ ]:
# 47. strings = ["apple", "banana", "cherry", "date"]
shortest_string = min(strings, key=len)
print("Shortest string in the list:", shortest_string)

Shortest string in the list: date

In [ ]:
# Create a list of the first n triangular numbers.

n = 10
triangular_numbers = [(i*(i+1))//2 for i in range(1, n+1)]
print("First 10 triangular numbers:", triangular_numbers)

First 10 triangular numbers: [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [ ]:
# 49. Check if a list contains another list as a subsequence

def is_subsequence(list1, list2):
    it = iter(list2)
    return all(item in it for item in list1)

list1 = [1, 3]
list2 = [1, 2, 3, 4]
result = is_subsequence(list1, list2)
print("Is the first list a subsequence of the second?", result)

Is the first list a subsequence of the second? True

In [ ]:
# 50. Swap two elements in a list by their indices.

my_list = [10, 20, 30, 40]
index1, index2 = 1, 3
my_list[index1], my_list[index2] = my_list[index2], my_list[index1]
print("List after swapping elements at indices 1 and 3:", my_list)

List after swapping elements at indices 1 and 3: [10, 40, 30, 20]

**Tuple Based Practice Problem**

In [1]:
# Create a tuple with integers from 1 to 5

my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [2]:
# Access the third element of a tuple

third_element = my_tuple[2]  # Indexing starts at 0, so the third element is at index 2.
print(f"The third element is: {third_element}")

The third element is: 3

In [3]:
# Find the length of a tuple without using the len() function

# Using a simple for loop to count the number of elements in the tuple
count = 0
for _ in my_tuple:
    count += 1

print(f"The length of the tuple is: {count}")

The length of the tuple is: 5

In [4]:
# Count the occurrences of an element in a tuple

# Using the count method to find occurrences of an element
element = 3  # For example, counting occurrences of the element '3'
occurrences = my_tuple.count(element)

print(f"The element {element} occurs {occurrences} times in the tuple.")

The element 3 occurs 1 times in the tuple.

In [5]:
# 5. Find the index of the first occurrence of an element in a tuple

my_tuple = (1, 2, 3, 4, 3, 5)
index = my_tuple.index(3)  # Finds the index of the first occurrence of 3
print(f"First occurrence of 3 is at index: {index}")

First occurrence of 3 is at index: 2

In [6]:
# 6. Check if an element exists in a tuple

element_exists = 3 in my_tuple  # Checks if 3 exists in the tuple
print(f"Does 3 exist in the tuple? {element_exists}")

Does 3 exist in the tuple? True

In [7]:
# 7. Convert a tuple to a list

my_list = list(my_tuple)  # Converts the tuple to a list
print(f"Converted to list: {my_list}")

Converted to list: [1, 2, 3, 4, 3, 5]

In [8]:
# 8. Convert a list to a tuple

my_new_list = [10, 20, 30]
my_new_tuple = tuple(my_new_list)  # Converts the list to a tuple
print(f"Converted to tuple: {my_new_tuple}")

Converted to tuple: (10, 20, 30)

In [9]:
# 9. Unpack the elements of a tuple into variables

a, b, c, d, e, f = my_tuple  # Unpacks the tuple into individual variables
print(f"Unpacked values: {a}, {b}, {c}, {d}, {e}, {f}")

Unpacked values: 1, 2, 3, 4, 3, 5

In [10]:
# 10. Create a tuple of even numbers from 1 to 10

even_numbers = tuple(i for i in range(1, 11) if i % 2 == 0)
print(f"Even numbers tuple: {even_numbers}")

Even numbers tuple: (2, 4, 6, 8, 10)

In [11]:
# 11. Create a tuple of odd numbers from 1 to 10

odd_numbers = tuple(i for i in range(1, 11) if i % 2 != 0)
print(f"Odd numbers tuple: {odd_numbers}")

Odd numbers tuple: (1, 3, 5, 7, 9)

In [12]:
# 12. Concatenate two tuples

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2  # Concatenates tuple1 and tuple2
print(f"Concatenated tuple: {concatenated_tuple}")

Concatenated tuple: (1, 2, 3, 4, 5, 6)

In [13]:
# 13. Repeat a tuple three times

repeated_tuple = tuple1 * 3  # Repeats tuple1 three times
print(f"Repeated tuple: {repeated_tuple}")

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [14]:
# 14. Check if a tuple is empty

empty_tuple = ()
is_empty = len(empty_tuple) == 0  # Checks if the tuple is empty
print(f"Is the tuple empty? {is_empty}")

Is the tuple empty? True

In [15]:
# 15. Create a nested tuple

nested_tuple = (1, (2, 3), (4, 5, 6))
print(f"Nested tuple: {nested_tuple}")

Nested tuple: (1, (2, 3), (4, 5, 6))

In [16]:
# 16. Access the first element of a nested tuple

first_element_nested = nested_tuple[1][0]  # Accesses the first element of the second tuple inside the nested tuple
print(f"First element of nested tuple: {first_element_nested}")

First element of nested tuple: 2

In [17]:
# 17. Create a tuple with a single element

single_element_tuple = (10,)  # A comma is necessary for a single element tuple
print(f"Single element tuple: {single_element_tuple}")

Single element tuple: (10,)

In [18]:
# 18. Compare two tuple

tuple_a = (1, 2, 3)
tuple_b = (1, 2, 3)
comparison = tuple_a == tuple_b  # Compares if two tuples are equal
print(f"Are the two tuples equal? {comparison}")

Are the two tuples equal? True

In [19]:
# 19. Delete a tuple

del my_tuple  # Deletes the tuple entirely
# print(my_tuple)  # This would raise an error because the tuple no longer exists

In [20]:
# 20. Slice a tuple

sliced_tuple = tuple1[1:3]  # Slices the tuple to get elements from index 1 to 2 (exclusive of index 3)
print(f"Sliced tuple: {sliced_tuple}")

Sliced tuple: (2, 3)

In [21]:
# 21. Find the maximum value in a tuple

my_tuple = (1, 2, 3, 4, 5)
max_value = max(my_tuple)  # Finds the maximum value
print(f"Maximum value: {max_value}")

Maximum value: 5

In [22]:
# 22. Find the minimum value in a tuple

min_value = min(my_tuple)  # Finds the minimum value
print(f"Minimum value: {min_value}")

Minimum value: 1

In [23]:
# 23. Convert a string to a tuple of characters

my_string = "hello"
char_tuple = tuple(my_string)  # Converts string to tuple of characters
print(f"Tuple of characters: {char_tuple}")

Tuple of characters: ('h', 'e', 'l', 'l', 'o')

In [24]:
# 24. Convert a tuple of characters to a string

char_tuple = ('h', 'e', 'l', 'l', 'o')
my_string = ''.join(char_tuple)  # Converts tuple of characters to a string
print(f"Converted string: {my_string}")

Converted string: hello

In [25]:
# 25. Create a tuple from multiple data types

mixed_tuple = (1, "apple", True, 3.14)
print(f"Tuple with mixed data types: {mixed_tuple}")

Tuple with mixed data types: (1, 'apple', True, 3.14)

In [26]:
# 26. Check if two tuples are identical

tuple_a = (1, 2, 3)
tuple_b = (1, 2, 3)
are_identical = tuple_a == tuple_b  # Compares if two tuples are identical
print(f"Are the tuples identical? {are_identical}")

Are the tuples identical? True

In [27]:
# 27. Sort the elements of a tuple

unsorted_tuple = (5, 3, 1, 4, 2)
sorted_tuple = tuple(sorted(unsorted_tuple))  # Sorts the tuple
print(f"Sorted tuple: {sorted_tuple}")

Sorted tuple: (1, 2, 3, 4, 5)

In [28]:
# 28. Convert a tuple of integers to a tuple of strings

int_tuple = (1, 2, 3)
str_tuple = tuple(str(i) for i in int_tuple)  # Converts integers to strings
print(f"Tuple of strings: {str_tuple}")

Tuple of strings: ('1', '2', '3')

In [29]:
# 29. Convert a tuple of strings to a tuple of integers

str_tuple = ('1', '2', '3')
int_tuple = tuple(int(i) for i in str_tuple)  # Converts strings to integers
print(f"Tuple of integers: {int_tuple}")

Tuple of integers: (1, 2, 3)

In [30]:
# 30. Merge two tuples

tuple1 = (1, 2)
tuple2 = (3, 4)
merged_tuple = tuple1 + tuple2  # Merges two tuples
print(f"Merged tuple: {merged_tuple}")

Merged tuple: (1, 2, 3, 4)

In [31]:
# 31. Flatten a nested tuple

nested_tuple = (1, (2, 3), (4, 5))
flattened_tuple = tuple(i for sublist in nested_tuple for i in (sublist if isinstance(sublist, tuple) else (sublist,)))
print(f"Flattened tuple: {flattened_tuple}")

Flattened tuple: (1, 2, 3, 4, 5)

In [32]:
# 32. Create a tuple of the first 5 prime numbers

prime_numbers = (2, 3, 5, 7, 11)
print(f"First 5 prime numbers: {prime_numbers}")

First 5 prime numbers: (2, 3, 5, 7, 11)

In [33]:
# 33. Check if a tuple is a palindrome

palindrome_tuple = (1, 2, 3, 2, 1)
is_palindrome = palindrome_tuple == palindrome_tuple[::-1]  # Checks if the tuple is a palindrome
print(f"Is the tuple a palindrome? {is_palindrome}")

Is the tuple a palindrome? True

In [34]:
# 34. Create a tuple of squares of numbers from 1 to 5

squares_tuple = tuple(i ** 2 for i in range(1, 6))
print(f"Squares tuple: {squares_tuple}")

Squares tuple: (1, 4, 9, 16, 25)

In [35]:
# 35. Filter out all even numbers from a tuple

numbers_tuple = (1, 2, 3, 4, 5, 6)
odd_numbers_tuple = tuple(i for i in numbers_tuple if i % 2 != 0)  # Filters out even numbers
print(f"Tuple with only odd numbers: {odd_numbers_tuple}")

Tuple with only odd numbers: (1, 3, 5)

In [36]:
# 36. Multiply all elements in a tuple by 2

multiplied_tuple = tuple(i * 2 for i in numbers_tuple)  # Multiplies all elements by 2
print(f"Multiplied tuple: {multiplied_tuple}")

Multiplied tuple: (2, 4, 6, 8, 10, 12)

In [37]:
# 37. Create a tuple of random numbers

import random
random_numbers_tuple = tuple(random.randint(1, 100) for _ in range(5))  # Tuple of 5 random numbers between 1 and 100
print(f"Random numbers tuple: {random_numbers_tuple}")

Random numbers tuple: (29, 62, 74, 44, 91)

In [38]:
# 38. Check if a tuple is sorted

my_tuple = (1, 2, 3, 4, 5)
is_sorted = my_tuple == tuple(sorted(my_tuple))  # Checks if the tuple is sorted
print(f"Is the tuple sorted? {is_sorted}")

Is the tuple sorted? True

In [39]:
# 39. Rotate a tuple to the left by n positions

def rotate_left(t, n):
    return t[n:] + t[:n]

my_tuple = (1, 2, 3, 4, 5)
rotated_tuple_left = rotate_left(my_tuple, 2)  # Rotates the tuple left by 2 positions
print(f"Tuple rotated left: {rotated_tuple_left}")

Tuple rotated left: (3, 4, 5, 1, 2)

In [40]:
# 40. Rotate a tuple to the right by n positions

def rotate_right(t, n):
    return t[-n:] + t[:-n]

rotated_tuple_right = rotate_right(my_tuple, 2)  # Rotates the tuple right by 2 positions
print(f"Tuple rotated right: {rotated_tuple_right}")

Tuple rotated right: (4, 5, 1, 2, 3)

In [41]:
# 41. Create a tuple of the first 5 Fibonacci numbers

def fibonacci(n):
    fib_sequence = [0, 1]
    while len(fib_sequence) < n:
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    return tuple(fib_sequence[:n])

fibonacci_tuple = fibonacci(5)
print(f"Fibonacci tuple: {fibonacci_tuple}")

Fibonacci tuple: (0, 1, 1, 2, 3)

In [42]:
# 42. Create a tuple from user input

user_input = input("Enter numbers separated by spaces: ")
user_tuple = tuple(map(int, user_input.split()))  # Converts input to a tuple of integers
print(f"Tuple from user input: {user_tuple}")

Enter numbers separated by spaces: 16
Tuple from user input: (16,)

In [43]:
# 43. Swap two elements in a tuple

def swap_elements(t, i, j):
    temp_list = list(t)
    temp_list[i], temp_list[j] = temp_list[j], temp_list[i]
    return tuple(temp_list)

swapped_tuple = swap_elements(my_tuple, 1, 3)  # Swaps elements at index 1 and 3
print(f"Tuple with swapped elements: {swapped_tuple}")

Tuple with swapped elements: (1, 4, 3, 2, 5)

In [44]:
# 44. Reverse the elements of a tuple

reversed_tuple = my_tuple[::-1]  # Reverses the tuple
print(f"Reversed tuple: {reversed_tuple}")

Reversed tuple: (5, 4, 3, 2, 1)

In [45]:
# 45. Create a tuple of the first n powers of 2

n = 5
powers_of_two = tuple(2 ** i for i in range(n))  # Creates a tuple of the first 5 powers of 2
print(f"Powers of 2 tuple: {powers_of_two}")

Powers of 2 tuple: (1, 2, 4, 8, 16)

In [46]:
# 46. Find the longest string in a tuple of strings

string_tuple = ("apple", "banana", "cherry", "date")
longest_string = max(string_tuple, key=len)  # Finds the longest string
print(f"Longest string: {longest_string}")

Longest string: banana

In [47]:
# 47. Find the shortest string in a tuple of strings

shortest_string = min(string_tuple, key=len)  # Finds the shortest string
print(f"Shortest string: {shortest_string}")

Shortest string: date

In [48]:
# 48. Create a tuple of the first n triangular numbers

def triangular_numbers(n):
    return tuple(int(i * (i + 1) / 2) for i in range(1, n + 1))

triangular_tuple = triangular_numbers(5)  # Creates a tuple of the first 5 triangular numbers
print(f"Triangular numbers tuple: {triangular_tuple}")

Triangular numbers tuple: (1, 3, 6, 10, 15)

In [49]:
# 49. Check if a tuple contains another tuple as a subsequence

def is_subsequence(t1, t2):
    return any(t2 == t1[i:i+len(t2)] for i in range(len(t1) - len(t2) + 1))

main_tuple = (1, 2, 3, 4, 5)
sub_tuple = (3, 4)
is_sub = is_subsequence(main_tuple, sub_tuple)  # Checks if sub_tuple is a subsequence of main_tuple
print(f"Is the sub-tuple a subsequence? {is_sub}")

Is the sub-tuple a subsequence? True

In [50]:
# 50. Create a tuple of alternating 1s and 0s of length n

n = 6
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))  # Creates a tuple of alternating 1s and 0s
print(f"Alternating 1s and 0s tuple: {alternating_tuple}")

Alternating 1s and 0s tuple: (1, 0, 1, 0, 1, 0)

Set Based Practice Problem

In [1]:
# 1. Create a set with integers from 1 to 5

my_set = {1, 2, 3, 4, 5}
print(f"Set: {my_set}")

Set: {1, 2, 3, 4, 5}

In [2]:
# 2. Add an element to a set

my_set.add(6)  # Adds the element 6 to the set
print(f"Set after adding 6: {my_set}")

Set after adding 6: {1, 2, 3, 4, 5, 6}

In [3]:
# 3. Remove an element from a set

my_set.remove(3)  # Removes the element 3 from the set
print(f"Set after removing 3: {my_set}")

Set after removing 3: {1, 2, 4, 5, 6}

In [4]:
# 4. Check if an element exists in a set

exists = 4 in my_set  # Checks if the element 4 exists in the set
print(f"Does 4 exist in the set? {exists}")

Does 4 exist in the set? True

In [5]:
# 5. Find the length of a set without using the len() function

count = 0
for _ in my_set:
    count += 1
print(f"Length of the set: {count}")

Length of the set: 5

In [6]:
# 6. Clear all elements from a set

my_set.clear()  # Clears all elements from the set
print(f"Set after clearing: {my_set}")

Set after clearing: set()

In [7]:
# 7. Create a set of even numbers from 1 to 10

even_set = {i for i in range(1, 11) if i % 2 == 0}
print(f"Even numbers set: {even_set}")

Even numbers set: {2, 4, 6, 8, 10}

In [8]:
# 8. Create a set of odd numbers from 1 to 10

odd_set = {i for i in range(1, 11) if i % 2 != 0}
print(f"Odd numbers set: {odd_set}")

Odd numbers set: {1, 3, 5, 7, 9}

In [9]:
# 9. Find the union of two sets

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)  # Union of set1 and set2
print(f"Union of sets: {union_set}")

Union of sets: {1, 2, 3, 4, 5}

In [10]:
# 10. Find the intersection of two sets

intersection_set = set1.intersection(set2)  # Intersection of set1 and set2
print(f"Intersection of sets: {intersection_set}")

Intersection of sets: {3}

In [11]:
# 11. Find the difference between two sets

difference_set = set1.difference(set2)  # Elements in set1 but not in set2
print(f"Difference between sets: {difference_set}")

Difference between sets: {1, 2}

In [12]:
# 12. Check if a set is a subset of another set

is_subset = {1, 2}.issubset(set1)  # Checks if {1, 2} is a subset of set1
print(f"Is {1, 2} a subset of set1? {is_subset}")

Is (1, 2) a subset of set1? True

In [13]:
# 13. Check if a set is a superset of another set

is_superset = set1.issuperset({1, 2})  # Checks if set1 is a superset of {1, 2}
print(f"Is set1 a superset of {1, 2}? {is_superset}")

Is set1 a superset of (1, 2)? True

In [14]:
# 14. Create a set from a list

my_list = [1, 2, 3, 4, 4, 5]
set_from_list = set(my_list)  # Creates a set from the list
print(f"Set from list: {set_from_list}")

Set from list: {1, 2, 3, 4, 5}

In [15]:
# 15. Convert a set to a list

list_from_set = list(set_from_list)  # Converts the set to a list
print(f"List from set: {list_from_set}")

List from set: [1, 2, 3, 4, 5]

In [16]:
# 16. Remove a random element from a set

import random
my_set = {1, 2, 3, 4, 5}
random_element = random.choice(list(my_set))  # Selects a random element
my_set.remove(random_element)  # Removes the randomly selected element
print(f"Set after removing random element {random_element}: {my_set}")

Set after removing random element 3: {1, 2, 4, 5}

In [17]:
# 17. Pop an element from a set

popped_element = my_set.pop()  # Pops a random element (since sets are unordered)
print(f"Popped element: {popped_element}")
print(f"Set after popping: {my_set}")

Popped element: 1
Set after popping: {2, 4, 5}

In [18]:
# 18. Check if two sets have no elements in common

set1 = {1, 2, 3}
set2 = {4, 5, 6}
are_disjoint = set1.isdisjoint(set2)  # Checks if the sets have no elements in common
print(f"Do set1 and set2 have no elements in common? {are_disjoint}")

Do set1 and set2 have no elements in common? True

In [19]:
# 19. Find the symmetric difference between two sets

symmetric_diff = set1.symmetric_difference(set2)  # Elements that are in either set1 or set2 but not both
print(f"Symmetric difference: {symmetric_diff}")

Symmetric difference: {1, 2, 3, 4, 5, 6}

In [20]:
# 20. Update a set with elements from another set

set1.update(set2)  # Updates set1 with elements from set2
print(f"Set1 after updating with set2: {set1}")

Set1 after updating with set2: {1, 2, 3, 4, 5, 6}

In [21]:
# 21. Create a set of the first 5 prime numbers

prime_set = {2, 3, 5, 7, 11}
print(f"Set of first 5 prime numbers: {prime_set}")

Set of first 5 prime numbers: {2, 3, 5, 7, 11}

In [22]:
# 22. Check if two sets are identical

set3 = {2, 3, 5, 7, 11}
are_identical = prime_set == set3  # Checks if both sets are identical
print(f"Are the sets identical? {are_identical}")

Are the sets identical? True

In [23]:
# 23. Create a frozen set

frozen_set = frozenset([1, 2, 3, 4, 5])  # Creates an immutable set (frozenset)
print(f"Frozen set: {frozen_set}")

Frozen set: frozenset({1, 2, 3, 4, 5})

In [24]:
# 24. Check if a set is disjoint with another set

is_disjoint = set1.isdisjoint(set2)  # Checks if the sets have no common elements
print(f"Are the sets disjoint? {is_disjoint}")

Are the sets disjoint? False

In [25]:
# 25. Create a set of squares of numbers from 1 to 5

squares_set = {i ** 2 for i in range(1, 6)}  # Creates a set of squares
print(f"Set of squares: {squares_set}")

Set of squares: {1, 4, 9, 16, 25}

In [26]:
# 26. Filter out all even numbers from a set

numbers_set = {1, 2, 3, 4, 5, 6}
odd_numbers_set = {i for i in numbers_set if i % 2 != 0}  # Filters out even numbers
print(f"Set with only odd numbers: {odd_numbers_set}")

Set with only odd numbers: {1, 3, 5}

In [27]:
# 27. Multiply all elements in a set by 2

multiplied_set = {i * 2 for i in numbers_set}  # Multiplies all elements by 2
print(f"Set with elements multiplied by 2: {multiplied_set}")

Set with elements multiplied by 2: {2, 4, 6, 8, 10, 12}

In [28]:
# 28. Create a set of random numbers

random_set = {random.randint(1, 100) for _ in range(5)}  # Creates a set of 5 random numbers
print(f"Set of random numbers: {random_set}")

Set of random numbers: {71, 80, 50, 53, 85}

In [29]:
# 29. Check if a set is empty

empty_set = set()
is_empty = len(empty_set) == 0  # Checks if the set is empty
print(f"Is the set empty? {is_empty}")

Is the set empty? True

In [30]:
# 30. Create a nested set (hint: use frozenset)

nested_set = {frozenset([1, 2]), frozenset([3, 4])}  # Creates a set of frozensets (immutable sets)
print(f"Nested set: {nested_set}")

Nested set: {frozenset({3, 4}), frozenset({1, 2})}

In [31]:
# 31. Remove an element from a set using the discard method

my_set = {1, 2, 3, 4, 5}
my_set.discard(3)  # Removes element 3, no error if the element doesn't exist
print(f"Set after discarding 3: {my_set}")

Set after discarding 3: {1, 2, 4, 5}

In [32]:
# 32. Compare two sets

set1 = {1, 2, 3}
set2 = {3, 4, 5}
comparison = set1 == set2  # Compares if the two sets are equal
print(f"Are the two sets equal? {comparison}")

Are the two sets equal? False

In [33]:
# 33. Create a set from a string

my_string = "hello"
string_set = set(my_string)  # Creates a set of unique characters from the string
print(f"Set from string: {string_set}")

Set from string: {'o', 'e', 'l', 'h'}

In [35]:
# 34. Convert a set of strings to a set of integers

string_set = {"1", "2", "3"}
int_set = {int(i) for i in string_set}  # Converts set of strings to integers
print(f"Set of integers: {int_set}")

Set of integers: {1, 2, 3}

In [36]:
# 35. Convert a set of integers to a set of strings

int_set = {1, 2, 3}
string_set = {str(i) for i in int_set}  # Converts set of integers to strings
print(f"Set of strings: {string_set}")

Set of strings: {'3', '1', '2'}

In [1]:
# 36. Create a set from a tuple

my_tuple = (1, 2, 3, 4)
tuple_set = set(my_tuple)  # Converts a tuple to a set
print(f"Set from tuple: {tuple_set}")

Set from tuple: {1, 2, 3, 4}

In [2]:
# 37. Convert a set to a tuple

set_to_tuple = tuple(tuple_set)  # Converts a set to a tuple
print(f"Tuple from set: {set_to_tuple}")

Tuple from set: (1, 2, 3, 4)

In [3]:
# 38. Find the maximum value in a set

max_value = max(tuple_set)  # Finds the maximum value in the set
print(f"Maximum value: {max_value}")

Maximum value: 4

In [4]:
# 39. Find the minimum value in a set

min_value = min(tuple_set)  # Finds the minimum value in the set
print(f"Minimum value: {min_value}")

Minimum value: 1

In [5]:
# 40. Create a set from user input

user_input = input("Enter values separated by spaces: ")
user_set = set(user_input.split())  # Creates a set from the user input
print(f"Set from user input: {user_set}")

Enter values separated by spaces: 55
Set from user input: {'55'}

In [6]:
# 41. Check if the intersection of two sets is empty

set1 = {1, 2, 3}
set2 = {4, 5, 6}
intersection_empty = set1.isdisjoint(set2)  # Checks if the intersection is empty
print(f"Is the intersection empty? {intersection_empty}")

Is the intersection empty? True

In [7]:
# 42. Create a set of the first 5 Fibonacci numbers

def fibonacci(n):
    fib_seq = [0, 1]
    while len(fib_seq) < n:
        fib_seq.append(fib_seq[-1] + fib_seq[-2])
    return set(fib_seq[:n])

fibonacci_set = fibonacci(5)
print(f"Fibonacci set: {fibonacci_set}")

Fibonacci set: {0, 1, 2, 3}

In [8]:
# 43. Remove duplicates from a list using sets

my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list))  # Removes duplicates by converting to a set and back to a list
print(f"List without duplicates: {unique_list}")

List without duplicates: [1, 2, 3, 4, 5]

In [9]:
# 44. Check if two sets have the same elements, regardless of their count

set1 = {1, 2, 3}
set2 = {3, 1, 2}
are_identical = set1 == set2  # Compares if the sets have the same elements
print(f"Do the sets have the same elements? {are_identical}")

Do the sets have the same elements? True

In [10]:
# 45. Create a set of the first n powers of 2

n = 5
powers_of_two_set = {2 ** i for i in range(n)}
print(f"Set of powers of 2: {powers_of_two_set}")

Set of powers of 2: {1, 2, 4, 8, 16}

In [11]:
# 46. Find the common elements between a set and a list

my_list = [1, 2, 6, 7]
my_set = {2, 3, 4, 5}
common_elements = my_set.intersection(my_list)  # Finds common elements between the set and list
print(f"Common elements: {common_elements}")

Common elements: {2}

In [12]:
# 47. Create a set of the first n triangular numbers

def triangular_numbers(n):
    return {int(i * (i + 1) / 2) for i in range(1, n + 1)}

triangular_set = triangular_numbers(5)
print(f"Set of triangular numbers: {triangular_set}")

Set of triangular numbers: {1, 3, 6, 10, 15}

In [13]:
# 48. Check if a set contains another set as a subset

set1 = {1, 2, 3, 4, 5}
subset = {2, 3}
is_subset = subset.issubset(set1)  # Checks if `subset` is a subset of `set1`
print(f"Is subset a subset of set1? {is_subset}")

Is subset a subset of set1? True

In [14]:
# 49. Create a set of alternating 1s and 0s of length n

n = 6
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}  # Creates a set with alternating 1s and 0s
print(f"Set of alternating 1s and 0s: {alternating_set}")

Set of alternating 1s and 0s: {0, 1}

In [15]:
# 50. Merge multiple sets into one

set1 = {1, 2, 3}
set2 = {4, 5, 6}
set3 = {7, 8, 9}
merged_set = set1.union(set2, set3)  # Merges multiple sets into one
print(f"Merged set: {merged_set}")

Merged set: {1, 2, 3, 4, 5, 6, 7, 8, 9}